<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ML PROJECT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
<div class="card text-center" style="width: 40rem; margin: 0 auto; height: 42rem; top: 35px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <div class="card-body" >
      <div style="text-align:center;">
          <h3><b>INCOME PREDICTION</b></h3>
      </div>
      <form class="form" method="post" action="/predict">
          <div class="row" style=" padding-top: 50px; padding-bottom: 25px;">
            <div class="col" style="text-align: left; padding-left: 90px;" >
                <label>Age</label>
            </div>
              <div class="col" style=" padding-right: 70px;">
            <input type="text" name='age' size="17">
              </div>
          </div>

            <div class="row" style="padding-bottom: 25px;">
            <div class="col"  style="text-align: left; padding-left: 90px;">
            <label>Workclass</label>
            </div>
                <div class="col">
                    <div class="col-sm-8">
            <select class="form-select" name="workclass" aria-label="Default select example">
                <option selected>Select here...</option>
                <option value=" Private">Private</option>
                <option value=" Others">Others</option>
            </select>
                    </div>
                </div>
            </div>

                <div class="row" style="padding-bottom: 25px;">
            <div class="col" style="text-align: left; padding-left: 90px;">
            <label>Education</label>
            </div>
                    <div class="col">
                    <div class="col-sm-8">
            <select class="form-select" name="education" aria-label="Default select example">
                <option selected>Select here...</option>
                <option value=" HS-grad">HS-grad</option>
                <option value=" Others">Others</option>
                <option value=" Some-college">Some-college</option>
                <option value=" Bachelors">Bachelors</option>
            </select>
                    </div>
                    </div>
                </div>

          <div class="row" style="padding-bottom: 25px;">
            <div class="col" style="text-align: left; padding-left: 90px;">
            <label>Marital Status</label>
            </div>
             <div class="col">
          <div class="col-sm-8">
            <select class="form-select" name="marital_status" aria-label="Default select example">
                <option selected>Select here...</option>
                <option value=" Married-civ-spouse">Married-civ-spouse</option>
                <option value=" Never-married">Never-married</option>
                <option value=" Others">Others</option>
            </select>
              </div>
             </div>
          </div>

          <div class="row" style="padding-bottom: 25px;">
            <div class="col" style="text-align: left; padding-left: 90px;">
            <label>Occupation</label>
            </div>
              <div class="col">
                  <div class="col-sm-8">
            <select class="form-select" name="occupation" aria-label="Default select example">
                <option selected>Select here...</option>
                <option value=" Others">Others</option>
                <option value=" Prof-specialty">Prof-specialty</option>
                <option value=" Craft-repair">Craft-repair</option>
                <option value=" Exec-managerial">Exec-managerial</option>
                <option value=" Adm-clerical">Adm-clerical</option>
                <option value=" Sales">Sales</option>
                <option value=" Other-service">Other-service</option>
                <option value=" Machine-op-inspct">Machine-op-inspct</option>
                <option value=" Transport-moving">Transport-moving</option>
                <option value=" Handlers-cleaners">Handlers-cleaners</option>
            </select>
                  </div>
              </div>
          </div>

          <div class="row" style="padding-bottom: 25px;">
            <div class="col" style="text-align: left; padding-left: 90px;">
            <label>Hours per week</label>
            </div>
              <div class="col" style="padding-right: 70px;">
            <input type="text" name='hours_per_week' size="17">
              </div>
          </div>

              <div class="row" style="padding-bottom: 55px;">
            <div class="col" style="text-align: left; padding-left: 90px;">
            <label>Sex</label>
            </div>
               <div class="col">
                   <div class="col-sm-8">
            <select class="form-select" name="sex" aria-label="Default select example">
                <option selected>Select here...</option>
                <option value=" Male">Male</option>
                <option value=" Female">Female</option>
                </select>
                  </div>
              </div>
          </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-outline-info">Predict</button>
            </div>
          {%if result%}
      <div style="text-align:center; padding-top: 25px;">
        <p><b>PREDICTION:</b> &ensp; {{result}}</p>
      </div>
    {% endif %}
        </form>

  </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>